{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
